<ul>
<% @games.each do |game| %>
<li>
<%= game.game_name %>
<br><%= game.english_promo %>
<br><%= game.in_db %>
<br><%= game.landscape %>
<br><%= game.square_banner %>
<br><%= game.english_vid %>
</li>
<% end %>